.modal__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  margin: 20px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    label {
      font-weight: bold;
      margin-right: 20px;
    }
    input {
      width: 150px;
      padding: 5px;
      font-size: 1.2rem;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &--btn {
      border: none;
      background-color: #00bc77;
      color: #fff;
      font-weight: bold;
      margin-top: 16px;
      padding: 5px;
      font-size: 1.2rem;
      width: 150px;
      height: 50px;
      cursor: pointer;
    }
  }
}
